div#navwrapper
	ul#navbar
		li(class="liNavBar") #[a(href="/" class="aNavBar") Home]
		li(class="liNavBar") #[a(href="/movies" class="aNavBar") Movies]
		li(class="liNavBar") #[a(href="/signinup.html" class="aNavBar") Sign In/Up]
		li(class="liNavBar") #[a(href="/user/self" class="aNavBar") Profile]
		li(class="liNavBar") #[a(href="/contribute.html" class="aNavBar") Contribute]
